@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Open+Sans:300,400,600,700,800|Cabin:300,400,500,600,700,800');
@import url('fixed.css');
body {
	background-color: #FFF;	
	font-family: 'Open Sans', sans-serif;
}
.hind_ff {font-family: 'Hind', sans-serif;}
.top_bg_div {
	background-color: #2980b9;
	color: #FFF;
	min-height: 93px;
}
.warning_hd1{
	color: #d63a4d;
	font-size:21px;
	top:10px;
	position: relative;
}
.web_hd1 {
	font-size: 21px;
	letter-spacing: -1px;
	font-weight:600;
}
.web_hd2{
	font-weight:300;
	font-size: 21px;
}
.replay_hd1{
	font-size:50px;
	font-weight: 800;
}
.replay_hd2{
	font-size:33px;
	font-weight:600;
}
.conf_vid_div {
	text-align:center;
}


.mar_rl {
	margin-left: 5px;
	margin-right: 5px;
}
.web_reg_lnk {
	min-height: 83px;
	border-radius:10px;
	background: linear-gradient(-90deg,#fcc11f,#ff7000);
	color: black;
	border:2px solid #e5c100;
	box-sizing: border-box;
	padding:12px;
}
.web_reg_lnk_mx_wid {
	max-width:900px;
}
.btn_hd1 {
	font-size: 60px;
    line-height: 1.1;
    margin-top: 10px;
    font-family: 'Cabin';
    font-weight:800;
}
.web_sche_div {
	background-color: #2980b9;
	min-height: 157px;
	color: #FFF;
}
.web_sche1_div {
	background-color: #FFF;
	min-height: 157px;
	color: #9e9e9e;
}

.ml_div {
	margin-left: 10px;
	width: 150px;
}
.web_sche_hd1 {
	font-size: 27px;
	line-height: 1.1;
}
.web_sche_hd2 {
	font-size: 16px;
	line-height: 1.1;
}

.web_sche_hd2_fz {
	font-size: 21px;
}


.foot_bg_div {
	background-color: #e5e5e5;
	color:#9e9e9e;
}
.copy_txt {display: inline-block;}

.foot_lnk {
	color: #9e9e9e;
	padding: 0 5px;
}

.foot_lnk:hover {
	text-decoration: underline;
}
@media handheld,only screen and (max-width: 767px){
	.wrapper {padding: 0 15px;box-sizing: border-box;}
	.mob_none {display: none;}
	.top_title_div {width: 100%;}
}
/*

@CHARSET "ISO-8859-1";
.warning{
	width:100%;
	height: 90px;
	float:left;
	text-align: center;
	margin: 0 auto;
	display: inline;
}
#image{
	top:15px;
	position: relative;
}
.warning img {
	margin-top:0;
}
@font-face {
	font-family:OpenSans-Regular;
    src: url('../font/OpenSans-Regular.ttf');
}
.warning p{
	font-family:OpenSans-Regular;
	font-size: 21px;
	color: #d63a4d;
	margin-top: 0;
	display: inline;
	position: relative;
}
.timer{
	width:100%;
	height:135px;
	float: left;
	background-color:#2980b9;
	color:white;
	margin: 0 auto;
	text-align: center;
}
@font-face {
	font-family:OpenSans-SemiBold;
    src: url('../font/OpenSans-SemiBold.ttf');
}
.timer p{
	font-family:OpenSans-SemiBold;
	font-size: 21px;
}
.timer span {
	font-family:OpenSans-Regular;
	font-size: 21px;
}
@font-face {
	font-family:OpenSans-Bold;
    src: url('../font/OpenSans-Bold.ttf');
}
.headlineText{
	width:100%;
	height: 330px;
	float: left;
	text-align: center;
	margin: 0 auto;
}
.headlineTextBox{
	width:720px;
	height: 330px;
	text-align: center;
	margin: 0 auto;
}
.headlineTextBox h1{
	font-family:OpenSans-Bold;
	font-size:50px;
}
.headlineTextBox p{
	font-family:OpenSans-SemiBold;
	font-size:34px;
}
.video{
	width:100%;
	height:535px;
	float:left;
	text-align: center;
	margin: 0 auto;
}
.videoBox{
	width: 900px;
	height:535px;
	text-align: center;
	margin: 0 auto;
}
.cta{
	width:100%;
	height:270px;
	float:left;
	text-align: center;
	margin: 0 auto;
}
@font-face {
	font-family:Cabin-Bold;
    src: url('../font/Cabin-Bold.ttf');
}
.cta button{
	width: 900px;
	height:100px;
	text-align: center;
	margin-top:60px;
	border-radius:10px;
	border:1px solid black;
	font-family:Cabin-Bold ;
	font-size: 63px;
	background: linear-gradient(-90deg,#fcc11f,#ff7000);
}
.host{
	width:100%;
	height:130px;
	background-color:#2980b9;
	display: inline-block; 
}
.hostBox{
	width: 1140px;
	height:130px;
	margin: 0 auto;
}
.icon{
	float:left;
	color: white;
	display: inline;
	margin-top:15px;
	padding-right:70px;
}
.icon img{
	
	margin: 0 auto;
	float: left;
	padding-right:5px;
}
*/